.type{
    @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;    
}
.foto{
    width: 320px;
    height: 480px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/img/1.jpg');
}
.gif{   
    width: 320px;
    height: 480px;
    position: absolute;
    background-position: center;
    background-size: cover;
}

.box-img2{
    width: 320px;
    height: 480px;
    position: absolute;
    z-index: 1;
}


.icono{
    width: 32px;
    margin-top: 30px;
    margin-left: 5px;
}

.fondo_neon{   
    margin-top: 20px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #aa0000; 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #aa0000;
}
.fondo_neon_dos{  
    margin-top: 20px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #0099FF; 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #0099FF;
}

.boton_llamada{   
    margin-top: 20px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #0099FF; 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #0099FF;
}
.boton_whatsapp{  
    margin-top: 20px;
    background-color: #24CC63;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #24CC63; 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #24CC63;
}


.fondo_rojo{
    width: 90%;
    height: 60px;
    margin-top: 30px;
    border-radius: 5px;
}

.text-white{
    margin-top: 15px;
}

