a{
    color: #0099FF;
}


.type{
    @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    color: red;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
}
.logo_new{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    max-height: 800x;
    min-height: 150px;
}
.hr-intro{
    border-top: 2px solid #f44806;
}
.boton_intro{
    width: 400px;
    height: 50px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #f44806; 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #f44806;
    border-radius: 20px;
    background-color: #f44806;
    font-size: 23px;
}
.mensaje{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    color: #f44806;
    font-size: 18px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

.mensaje > input{
    accent-color: #f44806;
    margin-right: 10px;

}
.boton_cuenta{
    width: 400px;
    height: 50px;
    margin-top: 3rem;
    color:#fff;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #f44806; 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 13px 10px #f44806;
    border-radius: 20px;
    background-color: transparent;
    font-size: 23px;
}