<div class="container-fluid" style="background: #161616;">
  <div class="row vh-100">
    <div class="col-sm-12">
      <div class="d-flex h-100 flex-column justify-content-between align-items-center">
        <div itemscope itemtype="" style="color: #f44806;" class="pt-3 type">
          <h1>Encuentra las chicas más cachondas de Barcelona</h1>
        </div>
        <div class="">
          <img src="/assets/img/logo.png" class="logo_new" />
        </div>

        <hr class="hr-intro"/>

        <div class="mensaje">
          <input type="checkbox" name="terminos" />
          <label class="ml-2" for="terminos">Acepto que soy +18 y los <a href="#">términos y condiciones</a></label>
        </div>
        <button type="button" class="btn boton_intro" [routerLink]="['/chicas/barcelona']">Acceder al portal</button>
        <div class="pb-5 mb-4">
          <button type="button" class="btn boton_cuenta" [routerLink]="['/login']"
            routerLinkActive="router-link-active">Iniciar sesión o Registrarse</button>
        </div>
      </div>
    </div>
  </div>

</div>
